---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Ota yhteyttä">
  <section class="mt-20">
    <div class="container flex flex-col items-center">
      <h1 class="mb-16 text-center text-2xl md:text-4xl" style={{ maxWidth: '33ch' }}>
        Ota rohkeasti yhteyttä ja kerro, minkälaisessa sisällössä kaipaisit apuja, niin mietitään yhdessä juuri sinulle
        sopiva ratkaisu!
      </h1>
      <form class="w-full max-w-xl" action="https://formsubmit.co/el/pigefi" method="POST">
        <div class="-mx-3 mb-6 flex flex-wrap">
          <div class="mb-6 w-full px-3 md:mb-0 md:w-1/2">
            <label class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700" for="grid-name">
              Nimi
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 px-4 py-3 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              id="grid-first-name"
              type="text"
              required
              name="name"
            />
          </div>
          <div class="w-full px-3 md:w-1/2">
            <label class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700" for="grid-password">
              Sähköposti
            </label>
            <input
              class="mb-3 block w-full appearance-none rounded border border-gray-200 bg-gray-200 px-4 py-3 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              id="email"
              type="email"
              required
              name="email"
            />
          </div>
        </div>
        <div class="-mx-3 mb-6 flex flex-wrap">
          <div class="w-full px-3">
            <label class="mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700" for="grid-password">
              Viesti
            </label>
            <textarea
              name="message"
              class="no-resize mb-3 block h-48 w-full resize-none appearance-none rounded border border-gray-200 bg-gray-200 px-4 py-3 leading-tight text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
              id="message"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button
            id="submit-button"
            type="submit"
            class="focus:shadow-outline w-28 rounded bg-[var(--primary-100)] px-4 py-2 text-xl font-bold text-white shadow hover:bg-primaryDark focus:outline-none"
            type="button"
          >
            Lähetä
          </button>
        </div>
      </form>
    </div>
  </section>
</DefaultLayout>
