---
import Card from '../components/Card.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="Palvelut">
  <div class="container text-center">
    <section class="mb-44 mt-20">
      <h1 class="mb-16 text-center text-3xl md:text-4xl">
        Erikoisalaamme on <br />
        <span class="bg-gradient-to-r from-[var(--primary-100)] to-[var(--pinkki-200)] bg-clip-text text-transparent"
          >ammattimaisten ja mukaansatempaavien</span
        >
        <br /> sisältöjen luonti
      </h1>
    </section>
    <section class="mt-25 mb-40">
      <div>
        <h2 class="mb-10 text-2xl md:text-3xl">Autamme sinua mm. seuraavien sisältöjen kanssa:</h2>
      </div>
      <div class="mb-20 gap-8 pl-10 text-base sm:flex sm:justify-center md:text-xl">
        <div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Yrityksen nettisivut</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Esitteet</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Julisteet</p>
          </div>
        </div>
        <div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Mainokset</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Somepäivitykset</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p class="font-medium">Työhakemukset</p>
          </div>
        </div>
      </div>
      <picture>
        <source class="block w-full md:w-8/12" media="(max-width: 650px)" srcset="/mobile_text.svg" />
        <img class="block w-full md:w-8/12" src="/color_text.svg" alt="colorful_text" />
      </picture>
    </section>
    <section class="mb-40">
      <div class="grid place-items-center">
        <h2 class="mb-10 text-3xl">Kumman kaa?</h2>
        <p class="mb-20 text-xl font-medium">
          Jos olisit itse tekemässä valintaa kahden palveluntarjoajan välillä, kumman näistä todennäköisemmin
          valitsisit?
        </p>
      </div>
      <div class="flex flex-wrap items-stretch justify-center gap-16 md:justify-around">
        <div>
          <p class="mb-2 text-left font-semibold">Yritys A: modifioitu tosielämän esimerkki</p>
          <div
            class="h-[93%] max-w-[40ch] rounded-sm bg-gradient-to-r from-[var(--secondary-100)] via-[var(--pinkki-50)] to-[var(--pinkki-100)] p-1"
          >
            <Card
              title="Tarjoamamme palvelu"
              description={`Tarjoamme asiakkaillemme kaikki digi markkinoinnin palvelut, kuten verkkosivujen suunnittelua ja SEO:ta. Uskomme siihen, että tasokkaiden palveluiden ei tarvitse olla yli hintaisia. 
              
              Meidän visio on olla tukemassa muiden yritysten kehitystaipaleella, auttaa heitä juuri niin paljon kun he tarvitsee. Voisi sanoa, että emme hae irtosuhdetta vaan kumppanuutta.`}
            />
          </div>
        </div>
        <div>
          <p class="mb-2 text-left font-semibold">Yritys B: sama sisältö Sanelmion käsittelyn jälkeen</p>
          <div
            class="max-w-[40ch] rounded-sm bg-gradient-to-r from-[var(--pinkki-100)] via-[var(--pinkki-50)] to-[var(--primary-100)] p-1"
          >
            <Card
              title="Kaikki digimarkkinoinnin palvelut yhden kumppanuuden kautta"
              description={`Tarjoamme asiakkaillemme kaikkia digimarkkinoinnin palveluja, kuten verkkosivujen suunnittelua ja hakukoneoptimointia (SEO). Uskomme, että tasokkaiden palveluiden ei tarvitse olla ylihintaisia. 
              
              Tavoitteemme on olla apuna ja tukena muiden yritysten kehitystaipaleilla kunkin yksilöllisen tarpeen mukaan. Voisikin sanoa, että etsimme aitoa kumppanuutta, emme irtosuhdetta.`}
            />
          </div>
        </div>
      </div>
    </section>
    <section class="mb-40">
      <div class="grid place-items-center">
        <p class="mb-20 text-xl font-medium">
          Entäpä ansioluettelot: kumman näistä hakijoista todennäköisemmin palkkaisit?
        </p>
      </div>
      <div class="flex flex-wrap justify-center gap-5 md:justify-around">
        <div class="mb-2">
          <p class="mb-2 text-left font-semibold">Hakija A: modifioitu tosielämän esimerkki</p>
          <div
            class="h-[94%] max-w-[40ch] rounded-sm bg-gradient-to-r from-[var(--secondary-100)] via-[var(--pinkki-50)] to-[var(--pinkki-100)] p-1"
          >
            <Media width="400" height="341" class="h-full w-full object-contain sm:w-auto" src="/poor-cv.svg" />
          </div>
        </div>
        <div>
          <p class="mb-2 text-left font-semibold">Hakija B: sama sisältö Sanelmion käsittelyn jälkeen</p>
          <div
            class="max-w-[40ch] rounded-sm bg-gradient-to-r from-[var(--pinkki-100)] via-[var(--pinkki-50)] to-[var(--primary-100)] p-1 md:h-[93%]"
          >
            <Media class="h-full w-full object-contain sm:w-auto" src="/cool-cv.svg" />
          </div>
        </div>
      </div>
    </section>
    <section class="mb-40">
      <h2 class="mb-2 text-3xl">Sanelmio pitää huolen, että erotut aina eduksesi!</h2>
      <div class="color_line grid place-content-center">
        <img class="w-10/12 md:w-5/12" src="/color_line.png" alt="colorful_line" />
      </div>
    </section>
  </div>
</DefaultLayout>

<style>
  p {
    max-width: 60ch;
  }

  img {
    display: block;
    margin: 0 auto;
    height: auto;
  }
</style>
