---
import Card from '../components/Card.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="Services">
  <div class="container text-center">
    <section class="mb-64 mt-20">
      <h2 class="mb-16 text-center text-4xl">
        Erikoisalaamme on <br />
        <span class="text-gradient">ammattimaisten ja mukaansatempaaviena</span>
        <br /> sisältöjen luonti
      </h2>
    </section>
    <section class="mt-25 mb-64">
      <div>
        <h5 class="mb-10 text-3xl md:text-4xl">
          Autamme sinua <br /> sisältöjen kanssa
        </h5>
      </div>
      <div class="help-container text-base md:text-xl">
        <div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Yrityksen nettisivut</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Esitteet</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Julisteet</p>
          </div>
        </div>
        <div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Mainokset</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Somepäivitykset</p>
          </div>
          <div class="flex items-center gap-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"
                ><path
                  d="M340.1 177.3L215.3 303l-47.2-47.2-17.8 17.8 56 56c2.5 2.5 5.9 4.5 8.9 4.5s6.3-2 8.8-4.4l133.7-134.4-17.6-18z"
                  fill="#09a26b"></path><path
                  d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 398.7c-105.1 0-190.7-85.5-190.7-190.7 0-105.1 85.5-190.7 190.7-190.7 105.1 0 190.7 85.5 190.7 190.7 0 105.1-85.6 190.7-190.7 190.7z"
                  fill="#09a26b"></path></svg
              >
            </div>
            <p>Työhakemukset</p>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-64">
      <div class="grid place-items-center">
        <h2 class="mb-10 text-3xl md:text-4xl">Kumman kaa?</h2>
        <p class="mb-20 text-xl">
          Jos olisit itse tekemässä valintaa kahden palveluntarjoajan välillä, kumman näistä todennäköisemmin
          valitsisit?
        </p>
      </div>
      <div class="flex flex-wrap justify-center gap-5 md:justify-around">
        <div class="gradient-box">
          <Card
            title="Tarjoamamme palvelu"
            description="Tarjoamme asiakkaillemme kaikki digi markkinoinnin palvelut, kuten verkkosivujen suunnittelua ja SEO:ta. Uskomme siihen, että tasokkaiden palveluiden ei tarvitse olla yli hintaisia. Meidän visio on olla tukemassa muiden yritysten kehitystaipaleella, auttaa heitä juuri niin paljon kun he tarvitsee. Voisi sanoa, että emme hae irtosuhdetta vaan kumppanuutta."
          />
        </div>
        <div class="gradient-box">
          <Card
            title="Kaikki digimarkkinoinnin palvelut yhden kumppanuuden kautta"
            description="Tarjoamme asiakkaillemme kaikkia digimarkkinoinnin palveluja, kuten verkkosivujen suunnittelua ja hakukoneoptimointia (SEO). Uskomme, että tasokkaiden palveluiden ei tarvitse olla ylihintaisia. Tavoitteemme on olla apuna ja tukena muiden yritysten kehitystapaleilla kunkin yksilöllisen tarpeen mukaan. Voisikin sanoa, että etsimme aitoa kump"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="grid place-items-center">
        <h2 class="mb-10 text-3xl md:text-4xl">Kumman kaa?</h2>
        <p class="mb-20 text-xl">Entäpä ansioluettelot; kumman näistä hakijoista todennäköisemmin palkkaisit?</p>
      </div>
      <div class="flex flex-wrap justify-center gap-5 md:justify-around">
        <div class="gradient-box">
          <Media class="rounded-lg" src="/cv.png" />
        </div>
        <div class="gradient-box">
          <Media class="rounded-lg" src="/cv_better.png" />
        </div>
      </div>
    </section>
  </div>
</DefaultLayout>

<style>
  p {
    max-width: 60ch;
  }

  .help-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      display: grid;
      gap: 1rem;
    }
  }

  .text-gradient {
    background: linear-gradient(315deg, var(--pink-200) 10%, var(--primary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-box {
    padding: 1rem;
    max-width: 40ch;
    border-width: 4px;
    border-radius: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--pink-200), var(--primary-100)) 1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 4px;
  }
</style>
