---
const { title, description } = Astro.props
---

<div class="h-full py-3 pl-1 text-left">
  <p class="mb-4 text-xl">{title}</p>
  <p style="white-space: pre-line;" class="text-base font-normal">
    {description}
  </p>
</div>
