---
import { Icon } from 'astro-icon'

const { src = '/hero_img.svg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h3 class="text-center text-4xl md:text-left lg:text-7xl">
          <slot><span class="text-gradient">Laadukasta</span> sisällöntuotantoa erilaisiin tarpeisiin</slot>
        </h3>
      </div>
      <img class="hidden lg:block absolute right-0 top-40 w-2/5" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-100) 25%, var(--secondary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-100) 25%, var(--secondary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
