---
const { src = '/hero_img.svg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h3 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot><span class="text-gradient">Laadukasta</span> sisällöntuotantoa erilaisiin tarpeisiin</slot>
        </h3>
      </div>
      <img class="absolute right-0 top-40 hidden w-2/5 lg:block" src={src} alt="" decoding="async" />
    </div>
    <div class="hero_desciption mt-10">
      <p class="text-xl">
        Haluatko tehdä yrityksesti nettisivuista iskevämmät ja ammattimaisemmat?
        <br />
        <br />
        Mietitkö, miten somepäivityksestä saisi tehtyä kohderyhmää puhuttelevan?
        <br />
        <br />
        Kaipaisiko työhakemuksesi viilausta, jotta erottuisit paremmin joukosta?
        <br />
        <br />
        Olit sitten yrityksen edustaja tai yksityishenkilö, Sanelmio on apunasi.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-100) 25%, var(--secondary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-100) 25%, var(--secondary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero_desciption {
    max-width: 65ch;
  }
</style>
